<HEAD>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
     <STYLE type="text/css">
     body
     {
         background:#FFFFFF;
         margin-left:30pt;
         margin-right:30pt;
         margin-top:0pt;
         margin-bottom:0pt;
     }
     P {
         font-size:9pt;
         font-family:Verdana,"MS Sans Serif",Geneva,Helvetica,sans-serif;
     }
     big {
         font-size:10pt;
         font-weight:bold;
     }
     strong {
         font-size:12pt;
         font-weight:bold;
     }
     small	{
         font-size:7pt;
     }
     TD {
         font-size:9pt;
         font-family:Verdana,"MS Sans Serif",Geneva,Helvetica,sans-serif;
     }
     </STYLE>
</HEAD>
<BODY>

<TABLE cellSpacing="0" cellPadding="1" width="100%" border="0">
<TR>
 <TD vAlign="center" align="left" width="38%" height="230">
   <TABLE border="0" width="100%" height="100%">
     <TR><TD align="left" valign="top"><BIG>
         ИЗВЕЩЕНИЕ

     </BIG></TD></TR>

     <TR><TD align="left" valign="bottom">

         Кассир

     </TD></TR>
   </TABLE>
 </TD>
 <TD vAlign="top" align="left" width="62%">

         Получатель платежа

     : <B>
         @SUP_NAME@
     </B>,<BR />

         ИНН

     : <B>
         @SUP_INN@
     </B>,<BR />

         КПП

     : <B>
         @SUP_KPP@
     </B><BR />

         Р/c

     : <B>

         @SUP_BANK_ACCOUNT@
     </B>@SUP_BANK_NAME@, @SUP_BANK_CITY@<BR />

         БИК

     : <B>@SUP_BANK_BIC@</B>,

         к/c

     <B>@SUP_BANK_PAYM_ACC@</B>
   <HR />
   <DIV align="center">
     <BIG>@USR_FULL_NAME@</BIG><HR size="1" /><SMALL>(

         фамилия, и. о.

     )</SMALL>

   </DIV>
   <TABLE border="1" cellspacing="0" width="100%">
     <TR>
       <TD align="center"><B>

         Основной счет

         </B></TD>
       <TD align="center"><B>

         Вид платежа

         </B></TD>

       <TD align="center"><B>

         Сумма

         </B></TD>
     </TR><TR>
       <TD valign="middle" align="center"><STRONG>@USR_BASIC_ACOUNT@</STRONG></TD>
       <TD valign="middle" align="left">

         Оплата информационных услуг

         <BR /></TD>

       <TD valign="middle" align="right"><STRONG><TEXT> </TEXT></STRONG><BIG>@SUM@</BIG></TD>
     </TR>
   </TABLE>

         Адрес

     : @USR_ACT_ADDRESS@ <HR size="1"/>
   <TABLE border="0" width="100%" cellspacing="0" cellpadding="0"><TR>
     <TD align="right" valign="top">
       <TABLE border="0" cellspacing="0" cellpadding="0">

         <TR><TD><BIG>_________________</BIG></TD></TR>
         <TR><TD align="center"><SMALL>(

             подпись плательщика

         )</SMALL></TD></TR>
       </TABLE>
     </TD>
     <TD align="left" valign="top">
       <TABLE border="0" cellspacing="0" cellpadding="0">
         <TR><TD><BIG>"____"_________<TEXT> </TEXT>200___<TEXT> </TEXT></BIG></TD></TR>

         <TR><TD align="center"><SMALL>(

             дата платежа

          )</SMALL></TD></TR>
       </TABLE>
     </TD>
   </TR></TABLE>
 </TD>
</TR>
</TABLE>
<HR />
<TABLE cellSpacing="0" cellPadding="1" width="100%" border="0">
<TR>
 <TD vAlign="center" align="left" width="38%" height="230">

   <TABLE border="0" width="100%" height="100%">
     <TR><TD align="left" valign="top"><BIG>

         КВИТАНЦИЯ

     </BIG></TD></TR>
     <TR><TD align="left" valign="bottom">

         Кассир

     </TD></TR>
   </TABLE>
 </TD>

 <TD vAlign="top" align="left" width="62%">

         Получатель платежа

     : <B>
         @SUP_NAME@
     </B>,<BR />

         ИНН

     : <B>
         @SUP_INN@
     </B>,<BR />

         КПП

     : <B>
         @SUP_KPP@
     </B><BR />

         Р/c

     : <B>

         @SUP_BANK_ACCOUNT@
     </B>@SUP_BANK_NAME@, @SUP_BANK_CITY@<BR />

         БИК

     : <B>@SUP_BANK_BIC@</B>,

         к/c

     <B>@SUP_BANK_PAYM_ACC@</B>
   <HR />
   <DIV align="center">
     <BIG>@USR_FULL_NAME@</BIG><HR size="1" /><SMALL>(

         фамилия, и. о.

     )</SMALL>

   </DIV>
   <TABLE border="1" cellspacing="0" width="100%">
     <TR>
       <TD align="center"><B>

         Основной счет

         </B></TD>
       <TD align="center"><B>

         Вид платежа

         </B></TD>

       <TD align="center"><B>

         Сумма

         </B></TD>
     </TR><TR>
       <TD valign="middle" align="center"><STRONG>@USR_BASIC_ACOUNT@</STRONG></TD>
       <TD valign="middle" align="left">

         Оплата информационных услуг

         <BR /></TD>

       <TD valign="middle" align="right"><STRONG><TEXT> </TEXT></STRONG><BIG>@SUM@</BIG></TD>
     </TR>
   </TABLE>

         Адрес

     : @USR_ACT_ADDRESS@ <HR size="1"/>
   <TABLE border="0" width="100%" cellspacing="0" cellpadding="0"><TR>
     <TD align="right" valign="top">
       <TABLE border="0" cellspacing="0" cellpadding="0">
         <TR><TD><BIG>_________________</BIG></TD></TR>
         <TR><TD align="center"><SMALL>(

             подпись плательщика

         )</SMALL></TD></TR>
       </TABLE>

     </TD>
     <TD align="left" valign="top">
       <TABLE border="0" cellspacing="0" cellpadding="0">
         <TR><TD><BIG>"____"_________<TEXT> </TEXT>200___<TEXT> </TEXT></BIG></TD></TR>
         <TR><TD align="center"><SMALL>(

             дата платежа

          )</SMALL></TD></TR>
       </TABLE>

     </TD>
   </TR></TABLE>
 </TD>
</TR>
</TABLE>
</BODY>
