@CHARSET "UTF-8";

.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

/* FORM */

input[type="text"], select {
    font-size: 20px !important;
    padding: 0 5px !important;
    line-height: 33px !important;
    height: 32px !important;
}

.btn {
    vertical-align: top !important;
}

/* TYPOGRAFY */
/*.infoblock {
    padding: 5px 15px 10px;
    margin: 40px 0 20px;
    background-color: #FFE788;
    -webkit-border-radius: 7px;
    border-top-left-radius: 7px 7px;
    border-top-right-radius: 7px 7px;
    border-bottom-right-radius: 7px 7px;
    border-bottom-left-radius: 7px 7px;
}*/

ul.errors {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}

ul.errors li {
    color: #B94A48;
    list-style: none;
}

span.timeago {
    font-size: 12px;
    color: #999;
}

.ui-datepicker-month, .ui-datepicker-year {
    color: #000000;
}